<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carcalendar.dmdev.carcalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/car_calendar_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="model.storage.StorageManager"
            android:enabled="true" />

        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GarageActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GarageHelp"
            android:parentActivityName=".GarageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carcalendar.dmdev.carcalendar.GarageActivity" />
        </activity>
        <activity
            android:name=".RegisterHelp"
            android:parentActivityName=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carcalendar.dmdev.carcalendar.RegisterActivity" />
        </activity>
        <activity
            android:name=".LoaderActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddVehicleCarActivity"></activity>
    </application>

</manifest>