<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carcalendar.dmdev.carcalendar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/car_calendar_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.StorageManager"
            android:enabled="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.carcalendar.dmdev.carcalendar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GarageActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GarageHelp"
            android:parentActivityName=".GarageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carcalendar.dmdev.carcalendar.GarageActivity" />
        </activity>
        <activity
            android:name=".RegisterHelp"
            android:parentActivityName=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carcalendar.dmdev.carcalendar.RegisterActivity" />
        </activity>
        <activity
            android:name=".LoaderActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddVehicleCarActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".HoldViewVehicleFragmentActivity" />
        <activity
            android:name=".AddVehicleMotorcycleActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver
            android:name=".services.DateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- action TIME_SET only temporary -->
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.CheckerIntentService"
            android:exported="false"></service>
    </application>

</manifest>